.page-grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);

  &__wrapper {
    grid-column: 1 / span 9;

    @media screen and (min-width: 900px) {
      grid-column: 2 / span 8;
    }
  }
}
